@import url('https://fonts.googleapis.com/css?family=Dosis|Rokkitt|ZCOOL+QingKe+HuangYou');

.menu_desktop{
    font-size: 15px;
    background-color: transparent;
    /* border: solid; */
    margin-bottom: 0px;
    /* display: inline-flex; */
    padding: .5rem;
    display: flex;
    float: right;
    justify-content: space-evenly;
    width: 40%;
    margin-left: 60%;
    position: fixed;
}

.menu_desktop a{
    color: black;
    font-size: 20px;
    cursor: pointer; 
    text-decoration: none;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Rokkitt', serif;
    border-right: solid .5px #d3d3d3;
    padding-right: 10px;
    border-radius: 50px;
  }
.menu_desktop a:hover{    
    
    border-left: solid .5px #d3d3d3;
    padding-left: 10px;
    border-radius: 50px;
}

/* Mobile */
@media screen and (max-width: 750px) {
    .menu_desktop{
        margin-left: 0px;
       }
    a{
        border-right: none;
        padding-right: 5px;
        
    }
     }