@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

.menu_desktop{
    z-index: 10;
    font-size: 15px;
    background-color: white;
    /* border: solid; */
    margin-bottom: 0px;
    /* display: inline-flex; */
    padding: .5rem;
    display: flex;
    float: right;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    -webkit-box-shadow: -2px 6px 34px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 34px -10px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 34px -10px rgba(0,0,0,0.75);
    

    
}

.menu_desktop a{
    color: black;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer; 
    text-decoration: none;
    font-family: 'ZCOOL XiaoWei', serif !important;
    padding-right: 1em;
    
   
  }
  .lang_flag {
      height: 30px;
      margin-bottom: 0px !important;
      cursor: pointer;
  }
.menu_desktop a:hover{    
    color: #3d3d3d;
}

/* Mobile */
@media screen and (max-width: 750px) {
    .menu_desktop{
        margin-left: 0px;
        padding: 15px;
       }
    a{
        border-right: none;
        padding-right: 5px;
        
    }
     }