@import url('https://fonts.googleapis.com/css?family=Bad+Script|Playfair+Display|Thasadith');

.landing_section{
    display: flex;
    flex-direction: column;
    height: 33em;
    background-attachment: fixed;
}

.slogan_container{
        /* align-items: center; */
        display: flex;
        align-items: center;
        /* display: flex; */
        align-content: baseline;
        flex-direction: column;
        margin-top: 9.5em;
        align-self: center;
}
.slogan_img{
    width:30em;
}

.top_bar{
    height: 2.5em;
    display: flex;
}
.sub_slogan{
    margin-top: 25px;
    font-size: 25px;
    color: white;
    font-family: 'Thasadith', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Bad Script', cursive; 
}
.speaker_logo{
    width: 5em;
    height:10em;
    margin:5px;
}

.second_section{
    width: 100%;
    height:30em;
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 1em;
    padding: 1em;
    flex-direction: column;
  
    
}
.service_section {
    width: 100%;
    height:30em;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: antiquewhite;
    position: absolute;

}

.locations {
    font-size: 1.5rem;
    color:white !important;
    font-weight:200;
}

