@media only screen and (max-width: 800px) {
  .locations {
    font-size: 1em;
    color: white !important;
    font-weight: 200;
  }
  .landing_section_2 {
    flex-direction: column;
    margin-top: -2em;
    padding: 0px;
  }
  .landing_section_2_column_1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .landing_section_2_column_2 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 750px) {
  .landing_section_2_column_1 {
    margin-top: -2em;
  }
  .speaker_logo {
    display: none;
  }
  .top_bar {
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
  .slogan_img {
    width: 20em;
  }
  .calendar_wrapper {
    width: 95%;
    height: 90%;
  }
  .second_section {
    margin-top: 13em;
  }
}

@media screen and (max-width: 750px) {
  .landing_section_2_title {
    font-size: 2em;
  }
}
