@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans|Quicksand&display=swap');

.wrapper_main{
 width: 100%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
  margin-top: 1em;
}

.wrapper_2_bundle{
  width: 100%;
  display: flex; 
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  margin: auto;
  margin-top: 1em;
}
.card_wrapper_2_bundle{
  width:50%;
  display:flex;
  justify-content:center;
}
h5{
  font-family: 'Muli', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
li, p{
  font-size: 15px ;
  justify-content: space-between;
  display: flex;
  font-family: 'Muli', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
    
}
.hover_info_icon{
    width: 5em;
    text-align: justify;
    height: 5em;
    margin: 5em;
}
#P1_1{
  display:none;

}
#hover_info_icon:hover #P1_1 {
  display: inline-block;

}
.card{
  width: 33%;
}

@media screen and (max-width: 1000px) {
  .card_wrapper_2_bundle {
    width:100%;
    margin-top: 1em;
  }
  .card_wrapper_3_bundle {
    width:100%;
    margin-top: 1em;
  }
}



@media screen and (max-width: 800px) {
  .card{
    width: 100% !important;
  }
}


