@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans|Quicksand&display=swap');
.jumbotron_wrapper{
    padding: .5rem 2rem;
}
.title{
    font-family: 'Muli', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    margin-bottom: 1em;
}
.title_two{
    font-family: 'Muli', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    
}
.jumbotron_btn{
    float: right;
}
.btn{
    background-color: black !important;
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 1.5rem;
        margin-bottom: 1em;
        display: none;
    }
    .title_two {
        font-size: 1em;
        margin-bottom: 1em;
        
    }
    .wrapper{
        width: 100%;
    }

  }